/*----------  Elements  ----------*/

@import 'elements/elements.document';
@import 'elements/elements.button';



/*----------  Objects  ----------*/

@import 'objects/objects.grid';
@import 'objects/objects.flex';
@import 'objects/objects.media';
@import 'objects/objects.grid';
@import 'objects/objects.icons';




/*----------  Components  ----------*/

@import 'components/components.buttons';
@import 'components/components.pill';
@import 'components/components.single-store';
@import 'components/components.store-grid';
@import 'components/components.mallnav';
@import 'components/components.directory';
@import 'components/components.directory-sidebar';
@import 'components/components.levels';
@import 'components/components.maps';
@import 'components/component.store-summary';
@import 'components/components.iconlink';



/* Mobile compatability */
.mall-container {
  display: none;
}

.mobile-list,
.mobile-list .search {
  width: 100vw;
}

.mobile-list {
  .search {
    position: sticky;
  }
}

@media screen and (min-width: 1050px) {
  .mall-directory--mobile {
    display: none;
  }

  .mall-container {
    display: block;
  }
}

@media screen and (max-width: 65.625em),
screen and (max-height: 40.625em) {

  // .mall-main {
  //   width: 100vw;
  // }

  // .spaces-list,
  // .search {
  //   width: 100vw;
  //   right: 100%;
  //   left: auto;
  // }

  // .spaces-list--open,
  // .spaces-list--open .search {
  //   right: 0;
  // }

  // .open-search,
  // .close-search {
  //   position: absolute;
  //   display: block;
  //   top: 0;
  //   right: 0;
  //   z-index: 1000;
  // }

  // .mallnav {
  //   top: 4em;
  // }

  // .content__item {
  //   overflow: auto;
  // }
}


/*----------  Utilities  ----------*/

@import 'utilities/utilities.hide';
@import 'utilities/utilities.bleed';